<header class="navbar navbar-expand-lg sticky-top bg-body-tertiary border-bottom">
  <div class="container">
    <a class="navbar-brand text-nowrap" href="{{ request.base }}">{{ config.TRACKER_NAME|u }}</a>
    <div class="offcanvas offcanvas-start bg-body-tertiary" id="offcanvas">
      <div class="offcanvas-header">
        <strong class="h1">{{ config.TRACKER_NAME|u }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
      </div>
      <nav class="offcanvas-body">
      {% block offcanvas -%}
        {% include 'layout/navigation.html' %}
      {%- endblock offcanvas %}
      </nav>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</header>
