<form class="d-grid d-lg-flex gap-4" method="GET" action="{{ request.classname }}">
  <fieldset class="flex-fill">
    <div class="input-group">
      <span class="input-group-text">{% trans %}Sort on{% endtrans %}</span>
      {%- for i in range(2) %}
      {% set key = request.sort[i] if request.sort|length > i else (None, None) %}
      <select class="form-select" name="@sort{{ i }}">
        <option value="">{% trans %}- nothing -{% endtrans %}</option>
        {%- for prop in context.properties() %}
        <option value="{{ prop._name }}" {% if prop._name == key[1] %}selected{% endif %}>{{ prop._name }}</option>
        {%- endfor %}
      </select>
      <input type="checkbox" class="btn-check" autocomplete="off" name="@sortdir{{ i }}" id="sortdir{{ i }}" {% if key[0] == '-' %}checked{% endif %}>
      <label class="btn btn-outline-secondary" for="sortdir{{ i }}" title="{% trans %}Descendent{% endtrans %}">
        <span class="bi bi-arrow-down-up"></span>
      </label>
      {%- endfor %}
    </div>
  </fieldset>
  <fieldset class="flex-fill">
    <div class="input-group">
      <span class="input-group-text">{% trans %}Group on{% endtrans %}</span>
      {%- for i in range(2) %}
      {% set key = request.group[i] if request.group|length > i else (None, None) %}
      <select class="form-select" name="@group{{ i }}">
        <option value="">{% trans %}- nothing -{% endtrans %}</option>
        {%- for prop in context.properties() %}
        <option value="{{ prop._name }}" {% if prop._name == key[1] %}selected{% endif %}>{{ prop._name }}</option>
        {%- endfor %}
      </select>
      <input type="checkbox" class="btn-check" autocomplete="off" name="@groupdir{{ i }}" id="groupdir{{ i }}" {% if key[0] == '-' %}checked{% endif %}>
      <label class="btn btn-outline-secondary d-flex" for="groupdir{{ i }}" title="{% trans %}Descendent{% endtrans %}">
        <span class="bi bi-arrow-down-up"></span>
      </label>
      {%- endfor %}
    </div>
  </fieldset>
  <input class="btn btn-primary" type="submit" value="{% trans %}Redisplay{% endtrans %}">
  {{ request.indexargs_form(sort=0, group=0)|u|safe }}
</form>
