{% macro field_header(name) %}
  <div class="mb-4">
    <h2>{{ context[name].plain()|u }}</h2>
  </div>
{% endmacro -%}
{% macro field_tags(text, name) %}
  <ul class="list-unstyled d-flex gap-2 mb-2">
    {% for item in context[name].plain().split(',')|map('trim')|u if context[name] %}
    <li>
      <a class="btn btn-sm btn-secondary" role="button"
         title="{{ i18n.gettext(text)|u|safe }}: {{ item }}"
         href="{{ request.indexargs_url('issue', {
                  '@search_text': '',
                  '@sort': '-activity',
                  '@group': 'priority',
                  '@filter': name,
                  name: context._db[name].lookup(item)
                  })|u }}">{{ item }}</a>
    </li>
    {% endfor %}
  </ul>
{% endmacro -%}
{% macro field_large(text, name) %}
  <li class="d-flex border-bottom">
    <span class="me-auto">{{ i18n.gettext(text)|u|safe }}</span>
    <span class="fw-semibold">{{ i18n.gettext(context[name].plain()|u|d('none', true))|safe }}</span>
  </li>
{% endmacro -%}
{% macro field_large_value(text, value) %}
  <li class="d-flex border-bottom">
    <span class="me-auto">{{ i18n.gettext(text)|u|safe }}</span>
    <span class="fw-semibold">{{ value|u|safe }}</span>
  </li>
{% endmacro -%}
{% macro field_small(text, name) %}
  <li class="d-flex border-bottom">
    <span class="me-auto">{{ i18n.gettext(text)|u|safe }}</span>
    <span class="fw-semibold">{{ i18n.gettext(context[name].plain()|u|d('none', true))|safe }}</span>
  </li>
{% endmacro -%}
{% macro field_small_value(text, value) %}
  <li class="d-flex border-bottom">
    <span class="me-auto">{{ i18n.gettext(text)|u|safe }}</span>
    <span class="fw-semibold">{{ value|u|safe }}</span>
  </li>
{% endmacro -%}
