{% extends 'layout/page.html' %}

{% block head_title -%}
  {% trans %}List of files{% endtrans %}
{%- endblock %}

{% block page_header -%}
  {% trans %}List of files{% endtrans %}
{%- endblock %}

{% block content -%}

  {% include 'layout/permission.html' %}

  {% if context.is_view_ok() %}
  <div class="row g-4 mb-4">
    {% for file in context.list() if file.is_view_ok() -%}
    {% set file_date = file.creation.plain()|u|replace('.', ' ') %}
    <div class="col-12 col-md-6 col-lg-4">
      <article class="card h-100">
        <div class="card-body d-flex flex-column">
          <header>
            <h2 class="card-title fs-4">
              <a href="file{{ file.id }}">{{ file.name.plain()|u }}</a>
            </h2>
            <p class="card-subtitle">
              {% trans %}Uploaded by{% endtrans %}
              <a class="link-body-emphasis fw-semibold" href="user{{ file.creator.id }}"
                 title="{{ file.creator.realname.plain()|d(file.creator.plain())|u }}">{{ file.creator.plain()|u }}</a>
              <time datetime="{{ file_date }}" title="{{ file_date }}">{{ file.creation.reldate()|u }}</time>
            </p>
          </header>
          {% if file.type -%}
          <p class="card-text">
            {% trans %}Content Type{% endtrans %}
            <span class="fw-semibold" title="{{ file.type.plain()|u }}">{{ file.type.plain()|u }}</span>
          </p>
          {%- endif %}
          <div class="d-grid d-md-flex justify-content-md-end mt-auto">
            <a class="btn btn-sm btn-primary" href="{{ file.download_url()|u|safe }}">{% trans %}Download{% endtrans %}</a>
          </div>
        </div>
      </article>
    </div>
    {% endfor %}
  </div>
  <div class="d-grid d-lg-flex gap-4 mb-4 align-items-start justify-content-lg-between">
    {% include 'layout/pagination.html' %}
    <a class="btn btn-secondary" role="button"
       href="{{ request.indexargs_url('file', {
             '@action': 'export_csv',
             '@columns': 'id,creation,name,type,creator'
             }) }}">
      {% trans %}Download as CSV{% endtrans %}
    </a>
  </div>
  {% endif %}

{%- endblock %}
