{% extends 'layout/page.html' %}
{% import 'layout/view.tmpl' as view with context -%}
{% import 'layout/edit.tmpl' as edit with context -%}

{% block head_title -%}
  {% trans %}File display{% endtrans %}
{%- endblock %}

{% block page_header -%}
  {% trans %}File display{% endtrans %}
{%- endblock %}

{% block content -%}

  {% include 'layout/permission.html' %}

  {% if context.is_view_ok() -%}
  <form method="POST" enctype="multipart/form-data" action="{{ context.designator() }}">

    {% if context.is_edit_ok() -%}
    <fieldset class="row gy-2 gx-3 align-items-center">
      {{ edit.field_small('Name', 'name', 'name', required=True) }}
      {{ edit.field_small('Content Type', 'type', 'type', required=True) }}
    </fieldset>
    {% else -%}
    <div class="d-flex flex-column gap-2">
      {{ view.field_small('Name', 'name') }}
      {{ view.field_small('Content Type', 'type') }}
    </div>
    {%- endif %}

    <input type="hidden" name="@template" value="item">
    <input type="hidden" name="@required" value="name,type">
    {% if '@multilink' in request.form -%}
      <input type="hidden" name="@multilink"
        value="{{ request.form["@multilink"].value()|u }}">
    {%- endif %}
    <div class="d-grid d-lg-flex justify-content-lg-end gap-3 my-4">
      {% if context.is_edit_ok() -%}
      {{ context.submit(html_kwargs={'class': 'btn btn-success'})|u|safe }}
      {%- endif %}
      {% if context.id -%}
      <a class="btn btn-primary" href="file{{ context.id }}/{{ context.name.plain()|u }}">
        {% trans %}Download{% endtrans %}
      </a>
      {%- endif %}
    </div>
  </form>
  <div class="table-responsive">
    {{ context.history()|u|safe }}
  </div>
  {%- endif %}

{%- endblock %}
