{% macro print_superseder(s) -%}
<a class="link-body-emphasis"
   title="{{ s._classname|capitalize }}: {{ s.id }}"
   href="{{ s._classname }}{{ s.id }}">
   {{- s.title.plain(escape=1) -}}
</a>
{%- endmacro %}

{% import 'layout/view.tmpl' as view with context -%}
<div class="row gy-3 mb-4">
  <div class="col-lg-8">
    {{ view.field_header('title') }}
    {{ view.field_tags('Keyword', 'keyword') }}
  </div>
  <section class="col-lg-4">
    <div class="card">
      <ul class="card-body d-flex flex-column gap-2">
        {% for s in context.superseder -%}
        {{ view.field_large_value('Superseder' if loop.first
           else '', print_superseder(s)|string) }}
        {% endfor %}
        {{ view.field_small('Priority', 'priority') }}
        {{ view.field_small('Status', 'status') }}
        {{ view.field_small('Assigned to', 'assignedto') }}
        {% if context.nosy -%}
        {{ view.field_large('Nosy list', 'nosy') }}
        {%- endif %}
      </ul>
    </div>
  </section>
</div>
