{% import 'layout/edit.tmpl' as edit with context %}
<form method="POST" action="issue{% if context.id %}{{ context.id }}{% endif %}" name="itemSynopsis" enctype="multipart/form-data">
  <fieldset class="row gy-2 gy-md-4 gx-4 align-items-center">
    {{ edit.field_large('Title', 'title', 'title', required=True) }}
    {{ edit.field_small('Keywords', 'keyword', 'keyword') }}
    {{ edit.option('Priority', 'priority', required=True) }}
    {{ edit.option('Status', 'status') }}
    {{ edit.field_small('Nosy list', 'nosylist', 'nosy') }}
    {{ edit.option('Assigned to', 'assignedto') }}
    {{ edit.field_large('Superseder', 'superseder', 'superseder') }}
    {{ edit.textarea('Change note', 'change_note', '@note') }}
    {{ edit.file('File', 'file_upload', '@file', multiple=True) }}
  </fieldset>
  <div class="d-grid d-lg-flex justify-content-lg-end gap-4 my-4">
    {{ context.submit(html_kwargs={"class": "btn btn-primary"})|u|safe }}
    {% if context.id %}
    <a class="btn btn-secondary" href="{{ context.copy_url() }}">{% trans %}Make a copy{% endtrans %}</a>
    {% endif %}
  </div>
  <input type="hidden" name="@template" value="item">
  <input type="hidden" name="@required" value="title,priority">
</form>
