{% extends "layout/page.html" -%}

{% block head_title -%}
  {% trans %}"Your Queries" Editing{% endtrans %} - {{ config.TRACKER_NAME }}
{%- endblock %}

{% block page_header -%}
  {% if not context.is_edit_ok() -%}
    {% trans %}You are not allowed to edit queries.{% endtrans %}
  {% else -%}
    {% trans %}"Your Queries" Editing{% endtrans %}
  {%- endif %}
{%- endblock %}

{% block extrajs -%}
<script nonce="{{ request.client.client_nonce }}"
    language="javascript">
// This allows us to make the delete button an immediate action.
// The post_to_url function comes from:
//    http://stackoverflow.com/questions/133925/javascript-post-request-like-a-form-submit
function retire(qid, csrf) {
    post_to_url('query'+qid, {'@action': 'retire', '@template':'edit',
                '@csrf': csrf});
}

function restore(qid, csrf) {
    post_to_url('query'+qid, {'@action': 'restore', '@template': 'edit',
                '@csrf': csrf});
}
function post_to_url(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form);
    form.submit();
}
</script>
{%- endblock %}

{% macro include_query(query) -%}
  {% if query.id not in request.user.queries -%}
  <select class="form-select form-select-sm" name="user{{ request.user.id }}@add@queries">
    <option value="">{% trans %}leave it out{% endtrans %}</option>
    <option value="{{ query.id }}">{% trans %}include to mine{% endtrans %}</option>
  </select>
  {% else -%}
  <select class="form-select form-select-sm" name="user{{ request.user.id }}@remove@queries">
    <option value="">{% trans %}leave it mine{% endtrans %}</option>
    <option value="{{ query.id }}">{% trans %}remove from mine{% endtrans %}</option>
  </select>
  {%- endif %}
{%- endmacro -%}

{% block content -%}
  {% include 'layout/permission.html' %}
  {% set uid = request.user.id -%}
  {% if context.is_edit_ok() %}
  <form method="POST" onSubmit="return submit_once()" action="query"
        enctype="multipart/form-data">
    <div class="row g-4">
      {% for query in db.query.filter()|sort(attribute='name') -%}
      {% if query.creator == uid -%}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100">
          <article class="card-body d-flex flex-column">
            <header>
              <h2 class="fs-4 card-title">
                <a href="{{ query.klass.plain()|u }}?{{ query.url.plain()|u }}">{{ query.name.plain()|u }}</a>
              </h2>
              <p class="card-subtitle">
                {% trans %}Created by{% endtrans%}
                <a class="link-body-emphasis fw-semibold" href="user{{ query.creator.id }}"
                   title="{{ query.creator.realname.plain()|d(query.creator.plain())|u }}">{{ query.creator.plain()|u }}</a>
              </p>
            </header>
            <div class="d-grid gap-2 my-3">
              {{ include_query(query)|indent(12) }}
              <select class="form-select form-select-sm" name="query{{ query.id }}@private_for">
                <option {% if query.private_for == uid %}selected{% endif %}
                        value="{{ uid }}">{% trans %}private{% endtrans %}</option>
                <option {% if not query.private_for %}selected{% endif %}
                        value="-1">{% trans %}public{% endtrans %}</option>
              </select>
            </div>
            <div class="d-grid d-md-flex gap-2 justify-content-md-end mt-auto">
              <a class="btn btn-sm btn-primary" href="query{{ query.id }}" role="button">{% trans %}Edit{% endtrans %}</a>
              <input class="btn btn-sm btn-danger" type="button" value="{% trans %}Delete{% endtrans %}"
                     onClick="retire('{{ query.id }}','{{ utils.anti_csrf_nonce() }}')">
            </div>
          </article>
        </div>
      </div>
      {%- endif %}
      {% if not query.private_for and query.creator != uid -%}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100">
          <article class="card-body d-flex flex-column">
            <header>
              <h2 class="fs-4 card-title">
                <a href="{{ query.klass.plain()|u }}?{{ query.url.plain()|u }}">{{ query.name.plain()|u }}</a>
              </h2>
              <p class="card-subtitle">
                {% trans %}Created by{% endtrans%}
                <a class="link-body-emphasis fw-semibold" href="user{{ query.creator.id }}"
                   title="{{ query.creator.realname.plain()|d(query.creator.plain())|u }}">{{ query.creator.plain()|u }}</a>
              </p>
            </header>
            <div class="my-3">
              {{ include_query(query)|indent(12) }}
            </div>
            {% if query.is_edit_ok() %}
            <div class="d-grid d-md-flex justify-content-md-end mt-auto">
              <a class="btn btn-sm btn-primary" href="query{{ query.id }}" role="button">{% trans %}Edit{% endtrans %}</a>
            </div>
            {% endif %}
          </article>
        </div>
      </div>
      {%- endif %}
      {% endfor %}
      {% for query in request.user.queries|sort(attribute='name') -%}
      {% if query.is_retired() -%}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100">
          <article class="card-body d-flex flex-column">
            <header>
              <h2 class="fs-4 card-title">
                <a href="{{ query.klass.plain()|u }}?{{ query.url.plain()|u }}">{{ query.name.plain()|u }}</a>
              </h2>
              <p class="card-subtitle">
                {% trans %}Created by{% endtrans %}
                <a class="link-body-emphasis fw-semibold" href="user{{ query.creator.id }}"
                   title="{{ query.creator.realname.plain()|d(query.creator.plain())|u }}">{{ query.creator.plain()|u }}</a>
              </p>
            </header>
            <p class="card-text">{% trans %}Query is retired{% endtrans %}</p>
            {% if query.creator != uid -%}
            <div class="my-3">
              {{ include_query(query)|indent(12) }}
            </div>
            {% else -%}
            <div class="d-grid d-md-flex justify-content-md-end mt-auto">
              <input class="btn btn-sm btn-success" type="button"
                     value="{% trans %}Restore{% endtrans %}"
                     onClick="restore('{{ query.id }}','{{ utils.anti_csrf_nonce() }}')">
            </div>
            {%- endif %}
          </article>
        </div>
      </div>
      {%- endif %}
      {% if query.private_for and query.creator != uid -%}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100">
          <article class="card-body">
            <header>
              <h2 class="fs-4 card-title">
                <a href="{{ query.klass.plain()|u }}?{{ query.url.plain()|u }}">{{ query.name.plain() }}</a>
              </h2>
              <p class="card-subtitle">
                {% trans %}Created by{% endtrans %}
                <a class="link-body-emphasis fw-semibold" href="user{{ query.creator.id }}"
                   title="{{ query.creator.realname.plain()|d(query.creator.plain())|u }}">{{ query.creator.plain()|u }}</a>
              </p>
            </header>
            <p class="card-text">{% trans %}Query is private{% endtrans %}</p>
            <div class="my-2">
              {{ include_query(query)|indent(12) }}
            </div>
          </article>
        </div>
      </div>
      {%- endif %}
      {% endfor %}
    </div>
    <div class="d-grid d-lg-flex justify-content-lg-end my-3">
      <input type="hidden" name="@action" value="edit">
      <input type="hidden" name="@template" value="edit">
      <input name="@csrf" type="hidden" value="{{ utils.anti_csrf_nonce() }}">
      <input class="btn btn-primary" type="submit"
             value="{% trans %}Save Selection{% endtrans %}">
    </div>
  </form>
  {% endif %}
{%- endblock %}
