{% extends 'layout/page.html' %}

{% block head_title -%}
  {% if context.id -%}
    {% trans %}User{% endtrans %} {{ context.id }} - {{ config.TRACKER_NAME }}
  {% else -%}
    {% trans %}New User{% endtrans %} - {{ config.TRACKER_NAME }}
  {%- endif %}
{%- endblock %}

{% block page_header -%}
  {% if not (context.id or context.is_edit_ok()) -%}
    {% trans %}New User{% endtrans %}
  {% elif not context.id and context.is_edit_ok() -%}
    {% trans %}New User Editing{% endtrans %}
  {% elif context.id and not context.is_edit_ok() -%}
    {% trans %}User{% endtrans %} {{ context.id }}
  {% elif context.id and context.is_edit_ok() -%}
    {% trans %}User{% endtrans %} {{ context.id }} {% trans %}editing{% endtrans %}
  {%- endif %}
{%- endblock %}

{% block content %}

  {% include 'layout/permission.html' %}

  {% if context.is_view_ok() %}
  <form class="mb-4" method="POST" name="itemSynopsis" enctype="multipart/form-data" action="{{ context.designator() }}">
    <fieldset class="row g-3 g-md-4" {% if not context.is_edit_ok() %}disabled{% endif %}>
      <div class="col-lg-3">
        <label for="realname" class="form-label">{% trans %}Name{% endtrans %}</label>
        <input class="form-control" id="realname" type="text" name="realname" value="{{ context.realname.plain()|u }}">
      </div>
      <div class="col-lg-3">
        <label for="username" class="form-label">{% trans %}Login Name{% endtrans %}</label>
        <input class="form-control" id="username" type="text" name="username" value="{{ context.username.plain()|u }}">
      </div>
      <div class="col-lg-3">
        <label for="password" class="form-label">{% trans %}Login Password{% endtrans %}</label>
        <input class="form-control" id="password" type="password" name="password">
      </div>
      <div class="col-lg-3">
        <label for="confirm-password" class="form-label">{% trans %}Confirm Password{% endtrans %}</label>
        <input class="form-control" id="confirm-password" type="password" name="@confirm@password">
      </div>
      {% if request.user.hasPermission('Web Roles') -%}
      <div class="col-lg-3">
        <label for="roles" class="form-label">{% trans %}Roles{% endtrans %}</label>
        <input class="form-control" id="roles" type="text" name="roles" value="{{ context.roles.plain()|u }}">
        <span class="form-text">Comma separated</span>
      </div>
      {%- endif %}
      <div class="col-lg-3">
        <label for="phone" class="form-label">{% trans %}Phone{% endtrans %}</label>
        <input class="form-control" id="phone" type="text" name="phone" value="{{ context.phone.plain()|u }}">
      </div>
      <div class="col-lg-3">
        <label for="organisation" class="form-label">{% trans %}Organisation{% endtrans %}</label>
        <input class="form-control" id="organisation" type="text" name="organisation" value="{{ context.organisation.plain()|u }}">
      </div>
      {% if context.timezone -%}
      <div class="col-lg-3">
        <label for="timezone" class="form-label">{% trans %}Timezone{% endtrans %}</label>
        <input class="form-control" id="timezone" type="text" name="timezone" value="{{ context.timezone.plain()|u }}">
      </div>
      {%- endif %}
      <div class="col-lg-3">
        <label for="address" class="form-label">{% trans %}Email{% endtrans %}</label>
        <input class="form-control" id="address" type="text" name="address" value="{{ context.address.plain()|u }}">
      </div>
      <div class="col-lg-12">
        <label for="alternate-address" class="form-label">{% trans %}Alternate email address{% endtrans %}</label>
        {{ context.alternate_addresses.multiline(class="form-control", id="alternate-address")|u|safe }}
        <span class="form-text">One address per line</span>
      </div>
      {% if context.is_edit_ok() -%}
      <div class="d-grid d-lg-flex justify-content-lg-end">
        <input type="hidden" name="@template" value="item">
        {{ context.submit(html_kwargs={ 'class': 'btn btn-primary' })|u|safe }}
      </div>
      {%- endif %}
    </fieldset>
  </form>
  <div class="table-responsive">
    {{ context.history()|u|safe }}
  </div>
  {% endif %}

{% endblock %}
